on: push

jobs:
  check-package-exists:
    runs-on: ubuntu-latest
    outputs:
      package-exists: ${{ steps.check-package.outputs.files_exists }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v1
      - name: "Check if package.json exists"
        id: check-package
        uses: andstor/file-existence-action@v1
        with:
          files: "package.json"

  test:
    runs-on: ubuntu-latest
    needs: [check-package-exists]
    if: needs.check-package-exists.outputs.package-exists == 'true'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14.18
      - run: yarn install
      - run: yarn test
